@import '../../style/mixins.scss';

.dui-preview {
  @include fixed;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.2);
  transition: all 0.3s;
  overflow: hidden;
  z-index: 998;
  &.toggle {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
  &__slide,
  &__slide img {
    width: 100vw;
    height: 100vh;
  }
  &__wrap {
    white-space: nowrap;
  }
  &__slide {
    position: relative;
    display: inline-block;
    background-color: inherit;
    pointer-events: inherit!important;
    vertical-align: middle;
    .dui-icon__loading {
      width: 36px;
      height: 36px;
      @include center;
      color: #f1f1f1;
    }
  }
  &__index {
    @include abs(top);
    padding: 20px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
  }
}
