@import './mixins.scss';

.mask {
  @include fixed;
  background-color: rgba(0, 0, 0, .6);
  z-index: 9999;
  opacity: 0;
  transition: opacity .3s;
  pointer-events: none;
  &.transparent {
    background-color: transparent;
  }
}
.show > .mask {
  opacity: 1;
  pointer-events: auto;
}
