/* 层级：toast: 99999 > modal: 9999 > popup: 999 > tabbar: 100 > navbar: 99 > self */
/* reset */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
}
body {
  margin: 0;
  font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.6;
  overflow-x: hidden;
  word-break: break-all;
  -webkit-overflow-scrolling: touch;
}
* {
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: #dbdbdb;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
input {
  border: 0;
  outline: 0;
  font-size: inherit;
  background: transparent;
}

[v-cloak] {
  display: none;
}

.dui-page {
  width: 100vw;
  min-height: 100vh;
  background-color: #f7f7f7;
}

@import './layout.scss';
@import './appearance.scss';
@import './button.scss';
@import './list.scss';
