.dui-button {
  display: inline-block;
  padding: 10px 24px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  line-height: 1.2;
  outline: 0;
  border: 0;
  border-radius: 6px;
  &:active {
    opacity: 0.9;
  }
  &[disabled],
  &.disabled {
    opacity: 0.6;
    color: #ffffff;
  }
  &[class*=line] {
    @extend .solid;
    background-color: transparent;
    border-color: currentColor;
  }
  &.block {
    width: 100%;
  }
  &.round {
    @extend .round;
  }
}
.dui-button.lg {
  padding: 12px 28px;
  font-size: 16px;
}
.dui-button.sm {
  padding: 8px 20px;
  font-size: 12px;
}
.dui-button.xs {
  padding: 6px 14px;
  font-size: 12px;
}
