.dui-button {
  display: inline-block;
  padding: 0 16px;
  height: 36px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  outline-width: 0;
  border-width: 0;
  border-radius: 6px;
  cursor: pointer;
  &:active {
    opacity: 0.9;
  }
  &[disabled],
  &.disabled {
    opacity: 0.6;
    color: #ffffff;
    pointer-events: none;
    cursor: not-allowed;
  }
  &[class*=line] {
    @extend .solid;
    background-color: transparent;
  }
  &.block {
    width: 100%;
  }
  &.round {
    @extend .round;
  }
  span {
    vertical-align: middle;
  }
}
.dui-button.md {
  height: 40px;
  font-size: 16px;
}
.dui-button.lg {
  height: 44px;
  font-size: 16px;
}
.dui-button.sm {
  height: 32px;
  font-size: 12px;
}
.dui-button.xs {
  height: 28px;
  font-size: 12px;
}
