.dui-button {
  display: inline-block;
  padding: 10px 24px;
  font-size: 16px;
  // color: $colorBlack;
  // background-color: $colorWhite;
  outline: 0;
  border: 0;
  border-radius: 6px;
  box-sizing: border-box;
  &:active {
    opacity: 0.9;
  }
  &[disabled],
  &.disabled {
    opacity: 0.6;
    color: #ffffff;
  }
  &[class*="line"] {
    background-color: transparent;
    @extend .solid;
    &::after {
      border-color: currentColor;
    }
  }
  &.block {
    width: 100%;
  }
  &.round {
    @extend .round;
  }
}
.dui-button+.dui-button {
  margin-left: 8px;
}
.dui-button.lg {
  padding: 12px 28px;
  font-size: 20px;
}
.dui-button.sm {
  padding: 8px 20px;
  font-size: 14px;
}
.dui-button.xs {
  padding: 6px 14px;
  font-size: 12px;
}
