.dui-list+.dui-list {
  @extend .margin-top-xs;
}
.dui-list.no-bottom {
  .dui-item::after {
    border: 0;
  }
}
.dui-list.indent {
  @extend .padding-lr;
  background-color: #fff;
  .dui-item {
    padding-left: 0;
    padding-right: 0;
  }
}
.dui-item {
  @extend .padding-tb-xs;
  @extend .padding-lr;
  min-height: 56px;
  background-color: #fff;
  @extend .flex;
  @extend .align-center;
  @extend .solid-bottom;
  &:last-child::after {
    border: 0;
  }
  &.indent {
    @extend .margin-lr;
    padding-left: 0;
    padding-right: 0;
  }
}
