.dui-list {
  margin: 0;
  padding: 0;
}
.dui-list+.dui-list {
  @extend .mt-xs;
}
.dui-list.no-bottom {
  .dui-item::after {
    border: 0;
  }
}
.dui-list.indent {
  @extend .plr;
  background-color: #fff;
  .dui-item {
    padding-left: 0;
    padding-right: 0;
  }
}
.dui-item {
  @extend .ptb-xs;
  @extend .plr;
  min-height: 56px;
  background-color: #fff;
  @extend .flex;
  @extend .align-center;
  @extend .solid-bottom;
  &:last-child::after {
    border: 0;
  }
  &.indent {
    @extend .mlr;
    padding-left: 0;
    padding-right: 0;
  }
}
