$statusBarHeight: 20PX;
$navBarHeight: 44PX;

.dui-status-bar {
  width: 100%;
  height: $statusBarHeight;
  background: #fff;
  &--fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: $statusBarHeight;
    background: inherit;
    z-index: 99;
  }
  &.fixed {
    height: 0;
  }
}

.dui-nav-bar {
  position: relative;
  width: 100%;
  height: $navBarHeight;
  &.with-status-bar {
    height: $statusBarHeight + $navBarHeight;
  }
  &.fixed {
    height: 0;
  }
  &--fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: $statusBarHeight + $navBarHeight;
    background: inherit;
    z-index: 99;
  }
  &__content {
    padding: 0 10PX;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16PX;
  }
}
.dui-status-bar+.dui-nav-bar .dui-nav-bar--fixed {
  top: $statusBarHeight;
}
.dui-nav-bar.with-status-bar {
  .dui-nav-bar--fixed {
    padding-top: $statusBarHeight;
    top: 0;
  }
  .dui-nav-bar__title {
    top: calc(50% + #{$statusBarHeight / 2});
  }
}
