/* 颜色 */
$colorDefault: #f7f7f7;
$colorRed: #ff4f44;
$colorOrange: #ff9056;
$colorYellow: #fbbd08;
$colorGreen: #39b54a;
$colorBlue: #0081ff;
$colorGrey: #898989;
$colorGray: #aaa;
$colorBlack: #333;
$colorWhite: #fff;

/* 场景颜色 */
$placeholderColor: #dbdbdb;
$bgDefaultColor: #f7f7f7;

/* 字体大小 */
$textXLarge: 20px;
$textLarge: 17px;
$textDefault: 14px;
$textSmall: 12px;
$textXSmall: 11px;
