@import '../../styles/mixins.scss';

.dui-preview {
  @include fixed;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.2);
  transition: all 0.3s;
  overflow: hidden;
  z-index: 998;
  &.toggle {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
  &__slide,
  &__slide img {
    width: 100vw;
    height: 100vh;
  }
  &__wrap {
    white-space: nowrap;
  }
  &__slide {
    position: relative;
    display: inline-block;
    background-color: inherit;
    pointer-events: inherit!important;
    vertical-align: middle;
    .icon-loading {
      position: absolute;
      width: 28px;
      height: 28px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      fill: #f1f1f1;
      animation: duiLoading 1.5s linear infinite;
    }
    @keyframes duiLoading {
      0% {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, 0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, 360deg);
      }
    }
  }
  &__index {
    @include abs(top);
    padding: 20px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
  }
}
