@import '../../styles/mixins.scss';

.dui-preview {
  @include fixed;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.2);
  transition: all 0.3s;
  overflow: hidden;
  z-index: 998;
  &.toggle {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
  &__wrap,
  &__slide {
    width: 100%;
    height: 100%;
  }
  &__wrap {
    white-space: nowrap;
  }
  &__slide {
    display: inline-block;
    background-color: inherit;
    pointer-events: inherit!important;
  }
  &__index {
    @include abs(top);
    padding: 20px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
  }
}
