.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  font-size: 24px;
  color: #fff;
  background: #f1f1f1 center / contain no-repeat;
  border-radius: 2000px;
  &.xl {
    width: 80px;
    height: 80px;
    font-size: 30px;
  }
  &.lg {
    width: 72px;
    height: 72px;
    font-size: 28px;
  }
  &.sm {
    width: 56px;
    height: 56px;
    font-size: 22px;
  }
  &.xs {
    width: 48px;
    height: 48px;
    font-size: 18px;
  }
  &.xxs {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}
