.dui-list {
  margin: 0;
  padding: 0;
}
.dui-list+.dui-list {
  margin-top: 8px;
}
.dui-list.no-bottom .dui-item,
.dui-item:last-child {
  &::after {
    border: 0;
  }
}
.dui-list.indent {
  padding-left: 16px;
  padding-right: 16px;
  background-color: #fff;
  .dui-item {
    padding-left: 0;
    padding-right: 0;
  }
}
.dui-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  min-height: 56px;
  background-color: #fff;
  position: relative;
  border-color: rgba(0, 0, 0, 0.1);
  &::after {
    content: '';
    position: absolute;
    width: calc(200% - 2PX);
    height: calc(200% - 2PX);
    top: 0;
    left: 0;
    transform: scale(.5);
    transform-origin: 0 0;
    border-radius: inherit;
    pointer-events: none;
    border-bottom: 1px solid;
    border-color: inherit;
  }
  &.indent {
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 0;
    padding-right: 0;
  }
}
